/* Admin Panel Style */

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f5f7fa;
}

#wrapper {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

#sidebar-wrapper {
    width: 250px;
    transition: all 0.3s;
}

#sidebar-wrapper .list-group-item {
    border: none;
    transition: 0.2s;
}

#sidebar-wrapper .list-group-item:hover {
    background-color: #343a40;
    color: #fff;
}

#page-content-wrapper {
    flex: 1;
    overflow-y: auto;
    background-color: #fff;
    padding-bottom: 50px;
}
