{% load static %}
<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img class='login_logo' src="/media/logo/logo.JPG" alt="RenessansAdmin" , width="90px" height="90px">
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active">
                    <a href="{% url 'ru-admin:main_dashboard' %}"><i class="fas fa-tachometer-alt"></i>Admin Panel</a>
                </li>
                <li>
                    <a href="{% url 'ru-admin:about_us_list' %}"><i class="fas fa-chart-bar"></i>О нас</a>
                </li>
                <li>
                    <a href="{% url 'ru-admin:photo_list' %}"><i class="fas fa-chart-bar"></i>Фотографии</a>
                </li>
                <li>
                    <a href="{% url 'ru-admin:education_list' %}"><i class="fas fa-chart-bar"></i>Академический отдел</a>
                </li>
                <li>
                    <a href="{% url 'ru-admin:activity_list' %}"><i class="fas fa-chart-bar"></i>События</a>
                </li>
                <li>
                    <a href="{% url 'ru-admin:hotel_list' %}"><i class="fas fa-chart-bar"></i>Гостиницы</a>
                </li>
                <li>
                    <a href="{% url 'ru-admin:recreation_list' %}"><i class="fas fa-chart-bar"></i>Зона отдыха</a>
                </li>
                <li>
                    <a href="{% url 'ru-admin:news_list' %}"><i class="fas fa-chart-bar"></i>Новости</a>
                </li>

            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->