<!DOCTYPE html>
{% load static %}
{% load humanize %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ education.title }}</title>
    <link rel="stylesheet" href="{% static 'lager/css/education_detail.css' %}">
    <script src="https://kit.fontawesome.com/5974a913f2.js" crossorigin="anonymous"></script>
</head>
<body>
<main class="activities-container">
    <div class="activity-card">
        <div class="activity-image">
            <img src="{{ education.image.url }}" alt="{{ education.title|default:'Education image' }}" loading="lazy"
                 onclick="openModal(this)">
        </div>
        <div class="activity-text">
            <h1>{{ education.title }}</h1>
            <p>{{ education.description }}</p>
        </div>
    </div>
</main>
<!-- Modal -->
<div id="imageModal" class="modal hidden" role="dialog" aria-modal="true" tabindex="-1">
    <span id="closeModal" role="button" aria-label="Close Modal" tabindex="0">&times;</span>
    <img id="modalImg" class="modal-content" alt="Katta rasm">
</div>
<footer>
    <div class="row">
        <div class="col">
            <img src="/media/logo_pastki_qism.png" alt="footer logo" class="logot">
            <p>Specialized educational institutions agency</p>
        </div>
        <div class="col">
            <h3>Office
                <div class="underline"><span></span></div>
            </h3>
            <p>Address</p>
            <p class="email-id">renessans@gmail.com</p>
            <h4>+99800000000</h4>
        </div>
        <div class="col">
            <h3>Newsletter
                <div class="underline"><span></span></div>
            </h3>
            <form>
                <i class="fa-solid fa-envelope"></i>
                <input type="email" placeholder="Enter your email" required>
                <button type="submit"><i class="fa-solid fa-arrow-right"></i></button>
            </form>
            <div class="social-icons">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-telegram"></i>
                <i class="fa-brands fa-twitter"></i>
            </div>
        </div>
    </div>
    <hr>
    <p class="copyright">2025</p>
</footer>
</body>
</html>
