{% extends 'dashboard/base.html' %}
{% block content %}
<div class="container mt-4">
    <h2>Faoliyatlar ro'yxati</h2>
    <a href="{% url 'activity_create' %}" class="btn btn-success mb-3">+ Yangi faoliyat</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nomi</th>
                <th>Rasm</th>
                <th>Amallar</th>
            </tr>
        </thead>
        <tbody>
            {% for activity in activities %}
            <tr>
                <td>{{ activity.title }}</td>
                <td>
                    {% if activity.image %}
                        <img src="{{ activity.image.url }}" width="100">
                    {% else %}
                        Yo‘q
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'activity_update' activity.pk %}" class="btn btn-warning btn-sm">Tahrirlash</a>
                    <a href="{% url 'activity_delete' activity.pk %}" class="btn btn-danger btn-sm">O‘chirish</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}