{% extends 'dashboard/base.html' %}
{% block content %}
<div class="container mt-4">
    <h2>Mehmonxonalar ro'yxati</h2>
    <a href="{% url 'hotel_create' %}" class="btn btn-success mb-3">+ Yangi mehmonxona</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nomi</th>
                <th>Rasm</th>
                <th>Amallar</th>
            </tr>
        </thead>
        <tbody>
            {% for hotel in hotels %}
            <tr>
                <td>{{ hotel.name }}</td>
                <td>
                    {% if hotel.image %}
                        <img src="{{ hotel.image.url }}" width="100">
                    {% else %}
                        Rasm yo‘q
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'hotel_update' hotel.pk %}" class="btn btn-warning btn-sm">Tahrirlash</a>
                    <a href="{% url 'hotel_delete' hotel.pk %}" class="btn btn-danger btn-sm">O‘chirish</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
