<div class="col-md-3">
    <div class="card text-white bg-primary mb-3 shadow">
        <div class="card-body">
            <h5 class="card-title">Faoliyatlar</h5>
            <p class="card-text fs-4">{{ stats.activity_count }} ta</p>
            <a href="{% url 'activity_list' %}" class="btn btn-light btn-sm">Ko‘rish</a>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="card text-white bg-success mb-3 shadow">
        <div class="card-body">
            <h5 class="card-title">Mehmonxonalar</h5>
            <p class="card-text fs-4">{{ stats.hotel_count }} ta</p>
            <a href="{% url 'hotel_list' %}" class="btn btn-light btn-sm">Ko‘rish</a>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="card text-white bg-warning mb-3 shadow">
        <div class="card-body">
            <h5 class="card-title">Istirohat zonalari</h5>
            <p class="card-text fs-4">{{ stats.recreation_count }} ta</p>
            <a href="{% url 'recreation_list' %}" class="btn btn-light btn-sm">Ko‘rish</a>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="card text-white bg-info mb-3 shadow">
        <div class="card-body">
            <h5 class="card-title">Yangiliklar</h5>
            <p class="card-text fs-4">{{ stats.news_count }} ta</p>
            <a href="{% url 'news_list' %}" class="btn btn-light btn-sm">Ko‘rish</a>
        </div>
    </div>
</div>
