{% load static %}
<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img class='login_logo' src="/media/logo.JPG" alt="RenessansAdmin" , width="90px" height="90px">
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active">
                    <a href="{% url 'main_dashboard' %}"><i class="fas fa-tachometer-alt"></i>Admin Panel</a>
                </li>
                <li>
                    <a href="{% url 'activity_list' %}"><i class="fas fa-chart-bar"></i>Faoliyatlar</a>
                </li>
                <li>
                    <a href="{% url 'hotel_list' %}"><i class="fas fa-chart-bar"></i>Mexmonxona</a>
                </li>
                <li>
                    <a href="{% url 'recreation_list' %}"><i class="fas fa-chart-bar"></i>Istirohat Zona</a>
                </li>
                <li>
                    <a href="{% url 'news_list' %}"><i class="fas fa-chart-bar"></i>Yangiliklar</a>
                </li>

            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->